<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/aed7a3ca0a.js"></script>
    <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/site.css" />
    <title>Meme-TV - Parody by Zerratar</title>
    {0}
</head>

<body>
    <div class="app">
        <div class="header">
            <a href="/">
                <img class="logo" src="/assets/imgs/logo.png" />
            </a>
        </div>
        <div class="content">
            <video class="video-player" controls></video>

            <div class="video-info">
                <h3 class="creator">Parody by&nbsp;<span class='creator-name'>Zerratar</span></h3>

                <div class="video-social">
                    <div class="views"><span class="view-count">0</span>&nbsp;views</div>
                    <div class="social">
                        <div class="like"><i class="far fa-heart"></i> <span class="like-count">0</span></div>
                        <div class="share"><i class="fas fa-share"></i> Share</div>
                    </div>
                </div>
            </div>
            <div class="create-own">
                <h3>Did you like this parody?</h3>
                <p>Press on like and share!</p>
                <a href="/" class="btn-create">Create your own</a>
            </div>
        </div>
        <div class="footer">
            <h4>
                DISCLAIMER: This website was made for fun, with no affiliation or association with the content shown on
                the website. The video clips are taken from various old indian movies. This website has no commercials,
                ads or any type of monetization. The creators of this website does not get anything from this website
                other than some laughs at the parody subtitles created. Shinobytes.com does not have any association
                with this website or any of its content. All content on this website is being used under the faith of
                fair use.
            </h4>
        </div>
    </div>

    <div class="share-modal">
        <div class="content">
            <div class="row"><h4>Share your parody!</h4></div>
            <div class="row share">
                <div class="share-icon share-facebook">
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div class="share-icon share-reddit">
                    <i class="fab fa-reddit-alien"></i>
                </div>
                <div class="share-icon share-twitter">
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
            <div class="share-url">

            </div>
        </div>
    </div>
    <script type="module" src="/assets/js/app.js"></script>
</body>

</html>